.header{
			background-color: gray;
			margin-top: 0px;
			position: fixed;
			top: 0px;
			height : 50px;
		}

		.header li{
			display: inline;
			color: white;
			margin: 10px 20px;
			float: right;
			font-size: 14px;
		}

		.header a{
			text-decoration: none;
			color : white;
		}

		.footer{
			background-color: #d3d3d3;
			height : 50px;
			position: fixed;
			bottom: 0px;
		}

		.fa{
			font-size: 40px;
			text-align: center;
			color: white;
			display: inline;
			margin-right: 50px;
			padding-top: 10px;			
		}

		.footer_content{
			color : white;
			text-align : center;
			font-size: 14px;
		}
		.wrap{
			margin : 0px !important;

		}

		.heading2{

			text-align : center;
			margin-top : 0px;
			text-shadow: 2px 1px 1px gray;
		}

		.para{
			
			font-size: 14px;
			font-weight : 500;
			line-height: 25px;
		}

		img{
			
			margin-right: auto;
			margin-left: auto;
			display: block;
			width : 50%;

		}

		body{
			color: black;
		}

		.floatRight{
			
			float: right;
		}
		.floatLeft{
			
			float: left;
		}

		.HeroElement{

			height: 400px;
			background-image : url("../img/img3.jpeg");
			background-size : cover;
		}

		.HeroElement h1{

			text-align: center;
			color: white;
			font-size: 60px;
			margin-top: 10%;
			margin-bottom: 10px;
		}


		.HeroElement button{

			font-size: 20px;
			color: white;
			border : none;
			width : 120px;
			margin-bottom: 10px;
			text-align: center;
			margin-left: 40%;
			border-radius: 10%;
			font-family : button;
		}

		.HeroElement button:hover{
			font-size: 20px;
			color: gray;
			margin-bottom: 10px;
			text-align: center;
			margin-left: 40%;
			width: 140px;
		}

		.logo{
			margin-top: 0px;
			margin-left: 10px;
			float: left;
			color: white;
			text-shadow: 2px 1px 1px red;
			font-size : 30px;
		}

		.content2{

			padding-top:  50px;
			
			margin-top: 0px;
		}

		.content2 img{
			width : 250px;
			height : 250px;
		}

		.marginLeft10{
			margin-left: 20px;
		}

		.content3{
			margin-top: 50px;
			float: right;
			margin-right: 150px;
		}

		.content3 li{
			text-decoration: none;
			color: #d3d3d3;
			font-size : 40px;

		}

		.content3 li:hover{
			text-decoration: underline;
		}

